@mixin mobile {
    @media screen and (max-width:560px) {
        @content;
    }
}

@mixin pad {
    @media screen and (max-width:1370px) {
        @content;
    }
}

@mixin pc_min {
    @media screen and (max-width:1527px) {
        @content;
    }
}

@mixin pc {
    @media screen and (max-width:1750px) {
        @content;
    }
}


.account_box {
    height: 800px;
    justify-content: center;
    align-items: center;
    display: flex;
}


/* 註冊 */

.account_info_box {
    background-color: #2c3338;
    color: #606468;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    text-align: center;
    padding: 50px;
    margin: 0 auto;


    @include mobile {
        padding: 10px;

    }
}

.account_main_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    margin: 0 auto;

    @include mobile {
        width: 100%;

    }
}





.account_check {

    margin-bottom: 20px;
    color: #fff;

}


.switch_register {
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
}

/* 註冊 */
/* 登入 */




.account_info_title {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 50px;

}


.account_type_box {

    height: 70px;
    flex: 1;
    margin-bottom: 50px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;

    span {

        img {
            width: 70px;
            background: #747474;
        }
    }

    input {
        border-style: none;
        border: none;
        width: calc(100% + -50px);
        font-size: 2rem;
        padding: 10px;
    }

    input:focus {
        background: #fff4bd;
        outline: none;
    }



}

.account_input_button {
    width: 100%;
    background-color: #4be6fe;
    border-style: none;
    border: none;
    border-radius: 8px;
    font-size: 2rem;
    color: #fff;
    font-weight: 900;

    @include mobile {

        background-color: #ffda6d;
    }
}

.login_check {

    margin-top: 10px;
    color: #fff;

}


.switch_register {
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
}

/* 登入 */