@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';


html body #app {
	height: auto;

}






svg {
	margin: 25px;

	path {
		fill: none;
		stroke: #76BF8A;
		stroke-width: 3px;
	}

	;
}




#main_box {

	background-image: url("../img/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}



h1 {
	font-size: 50px;
	color: #fff;
}


//天氣資訊

.now_weather_show {
	overflow: hidden;
	position: relative;
	color: rgb(255, 255, 255);
	background: rgba(82, 82, 82, 0.835);
	border-radius: 20px;
	text-align: center;
	font-size: 4rem;
	margin: 15px 0 0 0;

}




.half_show {
	margin: 10px 5px;

	img {
		width: 100%;
		max-width: 196px;



	}

	.WD {
		font-size: 3rem;
		padding-bottom: 20px;
	}


	.temp {
		font-size: 3rem;
		padding-bottom: 20px;
		font-weight: bolder;
	}
}

.half_show_button {
	color: #fff;
	font-size: 2rem;
	height: 100%;
	width: 100%;
	display: block;
}


#mobile {
	display: none;

}

@media screen and (max-width: 1370px) {


	#mobile {
		display: flex;
	}

	.half_show {

		.WD {

			font-size: 1.5rem;
			padding-bottom: 10px;
		}

		.temp {
			font-size: 1.5rem;
			padding-bottom: 10px;
		}


	}



}





//


#city_button {
	display: inline;

	a {
		margin: 5px 5px;
		background-color: rgb(88, 88, 88);
		border-style: none;
		font-size: 1.5rem;
	}
}

//FLEX

.flex_box1 {
	display: flex;
	align-items: stretch;

}

.box_1 {
	width: auto;
}

.flex_box1_child {
	width: 300px;
	display: flex;
}

.flex_box_2 {
	display: flex;
	text-align: center;
	flex-wrap: wrap;

}

.flex_item_box_2 {
	flex: 1;
	white-space: nowrap;
	justify-content: center;
	text-align: center;
}


.flex_box_3 {
	display: flex;
	text-align: center;
}

.flex_item_box_3 {

	text-align: center;

}

.left {}

@media(max-width:560px) {
	.flex_box_2 {
		flex-direction: column;
	}

}


//動畫

.fade-enter-active,
.fade.leave.active {

	transition: ease 1s;
}


.fade-enter,
.fade-leave-to {
	opacity: 0;
}