@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';


svg {
	margin: 25px;

	path {
		fill: none;
		stroke: #76BF8A;
		stroke-width: 3px;
	}

	;
}




#main_box {
	color: brown;
	background-image: url("../img/1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

#dd {
	p {
		color: saddlebrown;
		font-size: 30px;
		font-weight: 600;
		font-family: "微軟正黑體";
	}
}

li {
	list-style: none;

}

h1 {
	font-size: 50px;
	color: #fff;
}


//天氣資訊

.now_weather_show {
	position: relative;
	color: rgb(255, 255, 255);
	background: rgba(82, 82, 82, 0.835);
	border-radius: 20px;
	text-align: center;
	font-size: 4rem;
	margin: 15px 0 0 0;

}


.half_show {
	margin: 10px 5px;
}





//


#city_button {
	display: inline;

	a {
		margin: 5px 5px;
		background-color: rgb(88, 88, 88);
		border-style: none;
		font-size: 1.5rem;
	}
}



//動畫

.fade-enter-active,
.fade.leave.active {

	transition: ease 1s;
}


.fade-enter,
.fade-leave-to {
	opacity: 0;
}