@mixin mobile {
    @media screen and (max-width:560px) {
        @content;
    }
}

@mixin pad {
    @media screen and (max-width:1370px) {
        @content;
    }
}

.city_box {
    display: flex;
    margin-top: 20px;

    .city_box_item {
        flex: 2;
    }
}